WCF/WCFHome/GenericService/ConsoleClientTestApp/Service References/ServiceReference1/Contract3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Contract?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenericServiceLib.Repos" />
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenericServiceLib.Repos" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q1:CategoryRepo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GenericServiceLib.Repos" minOccurs="0" name="GetManufacturersResult" nillable="true" type="q2:ManufacturerRepo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>